.main {
    color: red;
}

.center {
    margin: auto;
    margin-top: 10%;
    width: 40%;
    background-color: #cfc;
    padding: 10px;
    border: 2px solid green; 
    text-align: center;
}

.search {
    width: 70%;
    padding-top: 5%;
    margin: auto;
}

.wrapper, td ,th {
    width: 100%;
    border: 1px solid;
    border-color: rgb(126, 126, 126);
    white-space: nowrap;
}

.specbutton {
    float: right;
}

.searchbox {
    border-color: rgb(195, 195, 195);
}
